/*!
Theme Name: atum
Theme URI: https://themeforest.net/user/onepagecreative/portfolio
Author: One page creative
Author URI: https://themeforest.net/user/onepagecreative
Description: One Page WordPress theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: atum
Tags: custom-background, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

atum is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Alignments
# Clearings
# Widgets
# Content
## Posts and pages
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
.hidden {
    display: none;
}
body{
	overflow-x: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}
.screen-reader-text {
	display: none;
}
audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	color: #4f6df5;
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
	color: #000000;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 600;
	letter-spacing:1px;
}

dfn {
	font-style: italic;
}


mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}


del {
	color: #333;
}

ins {
	background: #fff9c0;
	text-decoration: none;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

pre {
	background: #f9f9f9;
	color: #666;
	font-family: monospace;
	font-size: 14px;
	margin: 20px 0;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

dl {
	margin: 0 20px;
}

dt {
	font-weight: 600;
}

dd {
	margin: 0 0 20px;
}

ul {
	list-style-type: square;
}


code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 13px;
	padding: 7px 15px;
	display: inline-block;
	background-color: #e9ecef;
}
kbd{
	font-size: 90%;
	color: #fff;
	background-color: #212529;
}
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


th {
	font-weight: 500;
	text-transform: capitalize;
	border: 1px solid #ededed;
	padding: 10px 10px 10px 0;
	text-align: center;
	color: #000;
}

td {
	text-align: center;
	padding: 15px;
	border: solid 1px #ededed;
	color: #000;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}


ul, ol {
	margin:0;
	padding: 0;
	padding-left: 20px;
	margin-bottom: 25px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 15px;
}

dt {
	font-weight: 600;
	color: #000;
	margin-bottom: 10px;
}

dd {
	margin: 0 1.5em 1.5em;
	font-weight: 400;
	color: #444444;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Images
--------------------------------------------------------------*/

figure.wp-caption.alignleft,
img.alignleft {
	margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
	margin: 5px 10px 5px 0;
}

figure.wp-caption.alignright,
img.alignright {
	margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
	margin: 5px 0 5px 10px;
}

img.aligncenter {
	margin: 5px auto;
}

img.alignnone {
	margin: 5px 0;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
	color: #220e10;
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	margin: 0 0 24px;
}

div.wp-caption.alignright img[class*="wp-image-"] {
	float: right;
}

div.wp-caption.alignright .wp-caption-text {
	padding-left: 10px;
}

img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol {
	list-style-position: inside;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}




.lead {
	font-size: 16px;
	font-weight: 300;
	line-height: 32px;
}

/* ----------------forms------------------- */
.form-control {
	font-size: 13px;
	padding: 12px 15px;
	height: 50px;
	border-radius: 4px;
	border: solid 1px #f7f7f7;
	margin-bottom: 0px;
	outline: 0;
}

textarea {
	min-height: 200px;
}

.input-group .form-control {
	height: 46px;
	border: solid 1px #f9f9f9;
}


/* ----------------colors------------------- */
.color-gray {
	color: #f9f9f9 !important;
}

.color-dark-gray {
	color: #858585 !important;
}

.color-dark {
	color: #333333 !important;
}

.color-black {
	color: #000000 !important;
}

.color-light {
	color: #ffffff !important;
}

.color-green {
	color: #6cc47f !important;
}

.color-blue {
	color: #4f6df5 !important;
}

.color-red {
	color: #f97794 !important;
}

.color-orange {
	color: #f79257 !important;
}

.color-yellow {
	color: #ffbf00 !important;
}

.color-purple {
	color: #a85ad4 !important;
}

.bg-grad-purple {
	background: #8C66CA;
	background: linear-gradient(135deg, #E25574 0%, #8C66CA 100%);
}

.bg-macaroni {
	background: -webkit-gradient(linear, left top, right top, from(#ff5f6d), to(#ffc371));
	background: linear-gradient(90deg, #ff5f6d 0%, #ffc371 100%);
}

.bg-light {
	background-color: #ffffff !important;
}

.bg-gray {
	background-color: #f9f9f9 !important;
}

.bg-black {
	background-color: #000000 !important;
}

.bg-blue {
	background-color: #4f6df5 !important;
}


/*  ----------------------------------------------------
12 blog
-------------------------------------------------------- */
.blog_carousel .item {
	padding: 15px;
}
.blog_container{
overflow: hidden;
}
.card_box_blog {
	position: relative;
	padding: 0;
	margin: 0 0 30px 0;
	overflow: hidden;
	text-align: center;
	background-color: #fff;
	border: solid 1px #eeeeee;
	border-radius: 4px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.card_box_blog .post_content {
	padding: 25px;
}
.card_box_blog .post_header h6 {
	font-weight: 400;
	text-transform: capitalize;
	font-size: 13px;
	padding: 0px 0 3px;
	margin: 0;
	color: #495057;
	margin-top: 5px;
}
.card_box_blog .post_header h6 i {
	padding: 0 3px 0 10px;
	color: #000000;
}
.card_box_blog .post_header h4 {
	margin: 0;
	margin-left: 10px;
	font-size: 1.15714em;
	margin-bottom: 5px;
	font-weight: 500;
	text-transform: capitalize;
}
.card_box_blog .post_img {
	margin: 0;
	padding: 20px 20px 0;
}
.card_box_blog .post_img img{
	box-shadow: 0 5px 40px rgba(0,0,0,.07);
	border-radius: 4px;
}
.card_box_blog .post_text {
	padding: 7px 10px;
}
.card_box_blog .post_text p {
	font-size: 0.875em;
}
.card_box_blog .post_footer .readmore_btn {
	padding: 0;
}
.card_box_blog .post_footer .readmore_btn a {
	color: #4f6df5;
	border: solid 1px #4f6df5;
	display: inline-block;
	margin-top: 10px;
	margin-left: 12px;
	text-transform: capitalize;
	padding: 10px 18px;
	border-radius: 4px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.card_box_blog .post_footer .readmore_btn a:hover {
	border: solid 1px #333333;
	background-color: #333333;
	color: #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.card_box_blog .post_footer .readmore_btn a:focus {
	border: solid 1px #333333;
	background-color: #333333;
	color: #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


/*single post new style */
.single_post .img_box{
	margin-bottom: 30px;
}
.single_post .img_box img{
	box-shadow: 0 5px 40px rgba(0,0,0,.07);
	border-radius: 4px;
}
.single_post .post_header{
	margin-bottom: 30px;
}
.single_post .post_header h6 {
	font-weight: 500;
	text-transform: capitalize;
	font-size: 11px;
	padding: 0 0 3px;
	margin: 0;
	color: #495057;
	margin-top: 5px;
}
.single_post .post_header h6 i {
	padding: 0 3px 0 0;
	color: #4f6df5;
	font-size: 14px;
}
.single_post .post_header h6 span{
	padding: 0 12px 0 0;
}
.single_post .post_header h6 span a{
	color: #777;
	padding: 0 2px;
	margin: 4px 2px;
	display: inline-block;
}
.single_post .post_header h6 span a:hover{
	color: #4f6df5;
}
.single_post .post_header h3 {
	margin: 0;
	line-height: 1.4;
	font-size: 36px;
	margin-bottom: 10px;
	font-weight: 600;
	text-transform: capitalize;
}
.single_post .post_img {
	margin: 0;
}
.single_post .post_text {
	padding: 0;
}
















.blog_nav {
	width: 100%;
	display: inline-block;
}
.blog_nav nav {
	display: inline-block;
	width: 100%;
}
.blog_nav a {
	background-color: #ffffff;
	color: #000000;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 13px;
	padding: 15px 40px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.04) !important;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.04) !important;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.blog_nav a:hover {
	background-color: #4f6df5;
	color: #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.blog_nav .btn_left , .blog_nav a:first-child{
	margin-left: 0;
	display: inline-block;
	float: left;
}
.blog_nav .btn_right , .blog_nav a:last-child {
	margin-right: 0;
	display: inline-block;
	float: right;
}

.post-tags {
	display: inline-block;
	width: 100%;
	margin: 25px 0;
}
.post-tags a {
	background-color: #4f6df5;
	padding: 9px 15px;
	margin: 5px;
	border: 0;
	display: inline-block;
	border-radius: 4px;
	font-weight: 500;
	color: #ffffff;
	text-transform: capitalize;
}
.post-tags a:before {
	content: "\f48c";
	font-family: "Ionicons";
	padding: 0 5px 0 0;
	color: inherit;
	font-weight: 600;
	font-size: 17px;
	line-height: 1em;
}
.post-tags a:hover {
	color: #eeeeee;
}

.comment{
	margin-bottom: 30px;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 5px;
	border: solid 1px #ffffff;
}
.comments-title{
	font-size: 1em;
	color: #4f6df5;
	font-weight: 500;
	line-height: 1.85714286em;
	margin-bottom: 15px;
	padding-bottom: 8px;
	position: relative;
	text-transform: capitalize;
	letter-spacing: 0;
}
.comments-title:before {
	content: "";
	border-bottom: solid 2px #4f6df5;
	height: 0;
	width: 30px;
	position: absolute;
	left: 0;
	margin: 0 auto;
	bottom: 0;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	right: auto;
}


.comments-pagination h2, .comments-pagination  .prev ,.comments-pagination .next{
display: none;
}
.comments-pagination{
	text-align: center;
}
.comments-pagination a{
	padding: 8px;
	background-color: #ffffff;
	color: #333333;
	border-radius: 4px;
	width: 40px;
	height: 40px;
	margin: 5px;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.07);
}
.comments-pagination a:hover ,.comments-pagination span{
	padding: 8px;
	background-color: #4f6df5;
	border-radius: 4px;
	width: 40px;
	height: 40px;
	margin: 5px;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.07);
	color: #ffffff;
}
.comment-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.comment-list .comment-body {
	position: relative;
	padding-left: 95px;
	padding-top: 0;
	border: 0;
}
.comment-list .pingback .comment-body {
	padding-left: 0 !important;
}
.comment-list .pingback  .comment-body .comment-meta {
	padding: 2px 0 10px;
	position: relative;
	right: 0;
	top: 0;
	font-size: 11px;
}
.comment-list .comment-body .comment-author h4 {
	font-size: 1em;
	margin-bottom: 5px;
	color: #000;
	text-transform: capitalize;
	font-weight: 500;
}
.comment-list .comment-body .comment-author img {
	position: absolute;
	left: 0;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border: solid 5px #f1f1f1;
}
.comment-list .comment-body .comment-meta {
	padding: 2px 0 10px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
}
.comment-list .comment-body .comment-reply-link {
	color: #4f6df5;
	font-weight: 500;
}
.comment-list .comment-body .comment-reply-link span{
	float: left;
	margin-right: 5px;
}
.comment-list .comment-body .comment-reply-link i{
	font-size: 20px;
}
.comment-list .comment-body .comment-meta .reply a:hover {
	color: #333333;
}
.comment-list .comment-body .comment-content {
	padding: 10px 0;
}
.comment-list .comment-body .comment-content p{
	color: #555555;
}
.reply{
	display: inline-block;
}
.comment-list .children{
	list-style: none;
	padding-left:30px;
	margin: 0;
}
.comment-list .children .children{
	list-style: none;
	padding: 0;
	margin: 0;
}

.comment-respond {
	padding: 0px;
	border-top: solid 1px #f7f7f7;
	margin-top: 30px;
}

.comment-respond .title {
	font-size: 1em;
	color: #4f6df5;
	font-weight: 500;
	line-height: 1.85714286em;
	margin-bottom: 15px;
	padding-bottom: 8px;
	position: relative;
	text-transform: capitalize;
	letter-spacing: 0;
}
.comment-respond .title:before {
	content: "";
	border-bottom: solid 2px #4f6df5;
	height: 0;
	width: 30px;
	position: absolute;
	left: 0;
	margin: 0 auto;
	bottom: 0;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	right: auto;
}


.logged-in-as{
	font-size: 14px;
}
.comment-form .form-control {
	font-size: 13px;
	padding: 12px 15px;
	height: 50px;
	border-radius: 4px;
	border: solid 1px #e1e6ea;
	margin-bottom: 25px;
	outline: 0 !important;
	-webkit-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
}
.comment-form  .form-submit{
	text-align: center;
}
.comment-form .submit-comment {
	border-radius: 4px;
	padding: 15px 50px;
	background-color: #000000;
	text-transform: capitalize;
	font-weight: 400;
	display: inline-block;
	font-family: "Roboto", sans-serif;
}
.comment-form .submit-comment:hover {
	background-color: #333;
	color: #ffffff;
}
.comment-form .comment-notes{
	color: #333;
	font-size: 12px;
}
.no-comments{
	text-align: center;
	padding: 25px;
	color: #000;
	font-size: 24px;
	text-transform: capitalize;
}

.pingback-content{
	padding: 15px 25px;
	border-top: solid 1px #f1f1f1;
	margin-top: 35px;
}
.pingback-content h5{
	font-size: 14px;
}

/*page links */
.page-links{
	display: inline-block;
	width: 100%;
	margin-top: 50px;
	margin-left: 0;
}
.page-links a span{
	padding: 10px 15px;
	background-color: #ffffff;
	margin: 0 7px;
	border: solid 1px #f1f1f1;
	border-radius: 4px;
	color: #000000;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.page-links span,.page-links a span:hover{
	padding: 10px 15px;
	background-color: #4f6df5;
	margin: 0 7px;
	color: #ffffff;
	border-radius: 4px;
	border-color: transparent;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


/*password form*/

.post-password-form input[type="password"]{
	padding: 15px;
	height: 55px;
	border-radius: 4px;
	box-shadow: 0 0 0;
	border: solid 1px #f1f1f1;
	margin-left: 10px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	min-width: 300px;
	outline: 0;
}
.post-password-form input[type="submit"]{
	padding: 15px 40px;
	height: 55px;
	border-radius: 4px;
	box-shadow: 0 0 0;
	border: solid 1px #f1f1f1;
	margin-left: -5px;
	border-top-right-radius: 50px;
	background-color: #4f6df5;
	border-bottom-right-radius: 50px;
	color: #ffffff;
}


/*stacky post */
.post.sticky{
	border: solid 1px #4f6df5;
	border-radius: 4px;
}
.post.sticky:before {
	content: "\f204";
	font-family: "Ionicons";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	position: absolute;
	left: auto;
	right: 15px;
	top: 15px;
	font-size: 36px;
	color: #4f6df5;
}

/*no content */
.no_content_title{
	    font-size: 48px;
    margin-bottom: 0px;
    text-transform: capitalize;
    font-weight: 700;
}
p.no_result{
	font-size: 18px;
	color: #000;
}
.notfound_icon{
	font-size: 400px;
	position: absolute;
	left: 0;
	right: 0;
	opacity: 0.1;
}
.search-form .screen-reader-text{
	display: none;
}
.search-form .search-field{
	padding: 15px;
	height: 55px;
	border-radius: 0;
	box-shadow: 0 0 0;
	border: solid 1px #f1f1f1;
	border-right: 0;
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius:4px;
	outline: 0;
}
.search-form .search-submit{
	padding: 9px 20px;
	font-size: 22px;
	height: 55px;
	border-radius: 0;
	box-shadow: 0 0 0;
	border: solid 1px #f1f1f1;
	border-left: 0;
	margin-left: -1px;
	border-top-right-radius: 4px;
	background-color: #ffffff;
	border-bottom-right-radius: 4px;
	color: #333333;
}
.search-form .search-submit:hover{
	color: #000000;
	background-color: #ffffff;
	border-color: #f1f1f1;
}
.search-form  .input-group i{
	position: relative;
	z-index: 999;
	top: 0;
	bottom: 0;
	padding: 0;
	width: auto;
}
.text_404 {
	font-size: 196px;
	color: #000000;
	margin-bottom: 5px;
	font-weight: 900;
	line-height: 1.2;
}
.text_404 span{
	color: #4f6df5;
}

.page_size{
	min-height: 50vh;
}


.sidebar {
	background-color: #f9f9f9;
	padding: 0 25px;
	border-radius: 4px;
	border: solid 0 #f7f7f7;
}
.sidebar:after {
	content: '';
	background: inherit;
	width: 500%;
	height: 1000%;
	display: block;
	position: absolute;
	top: 0;
	z-index: -1;
	margin-top: -300px;
	margin-left: -25px;
}

@media(max-width: 992px){
	.sidebar:after {
		content: '';
		background: inherit;
		width: 500%;
		height: 1000%;
		display: block;
		position: absolute;
		top: 0;
		left: -1000px;
		right: 0;
		margin: 0;
		padding: 0;
		z-index: -1;
	}
}

.sidebar .widget {
	background-color: transparent;
	display: block;
	margin-bottom: 25px;
}
.sidebar .widget a {
	color: #555555;
	font-size: 14px;
	text-transform: capitalize;
}
.sidebar .widget a:hover, .sidebar .widget a:focus {
	color: #4f6df5;
}


.sidebar .widget .widget-title {
	font-size: 1em;
	color: #4f6df5;
	font-weight: 500;
	line-height: 1.85714286em;
	margin-bottom: 15px;
	padding-bottom: 8px;
	position: relative;
	text-transform: capitalize;
	letter-spacing: 0;

}
.sidebar .widget .widget-title:before {
	content: "";
	border-bottom: solid 2px #4f6df5;
	height: 0;
	width: 30px;
	position: absolute;
	left: 0;
	margin: 0 auto;
	bottom: 0;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	right: auto;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar ul li {
	padding-bottom: 15px;
	margin-left: 7px;
	padding-top: 0;
	padding-left: 7px;
	position: relative;
}
.sidebar ul li:before{
	color: #333;
	position: absolute;
	display: block;
	content: "\f105";
	font-family: 'FontAwesome';
	top: 0;
	left: -5px;
}
.sidebar ul li a:hover:before{
	color: #4f6df5;
}


.sidebar ul.sub-menu {
	margin: 10px 0 0;
	padding-left: 5px;
}
.sidebar ul.sub-menu li{
	margin: 0;
	padding-left: 5px;
}
.sidebar ul.sub-menu li:last-child{
	padding-bottom:0;
}


.sidebar ul.children {
	margin: 10px 0 0;
	padding-left: 5px;
}
.sidebar ul.children li{
	margin: 0;
	padding-left: 5px;
}
.sidebar ul.children li:last-child{
	padding-bottom:0;
}

.widget_recent_entries ul li{
	position: relative;
}
.widget_categories ul li{
	position: relative;
}
.widget_archive ul li{
	position: relative;
}
.widget_recent_comments ul li{
	position: relative;
}


.widget select{
    font-size: 13px;
    padding: 12px 15px;
    height: 50px;
    border-radius: 4px;
    border: solid 1px #dadada;
    margin-bottom: 5px;
    outline: 0;
    width: 100%;
}

.calendar_wrap{
	position: relative;
	max-width: 100%;
	display: inline-block;
}

.calendar_wrap caption {
	color: #000000;
}
.calendar_wrap th {
	padding: 10px 0;
	text-align: center;
	color: #4f6df5;
}
.calendar_wrap td {
	text-align: center;
	padding: 12px;
	border: solid 1px #ededed;
	color: #000;
}
.widget .tagcloud a{
	background-color: #ffffff;
	padding: 8px 15px;
	margin: 7px 1px;
	display: inline-block;
	font-size: 12px !important;
	border-radius: 5px;
	color: #555555;
	text-transform: capitalize;
	border: solid 1px #f7f7f7;
}
.widget .tagcloud  a:before {
	content: "\f48c";
	font-family: "Ionicons";
	padding: 0 5px 0 0;
}
.cat-item span.cat_num {
	float: right;
	background-color: #495057;
	height: 30px;
	width: 30px;
	border-radius: 2px;
	color: #ffffff;
	padding: 3px 5px;
	text-align: center;
	line-height: 26px;
	font-size: 12px;
}
 span.ach_num {
	float: right;
	background-color: #495057;
	 height: 30px;
	 width: 30px;
	 border-radius: 2px;
	 color: #ffffff;
	 padding: 3px 5px;
	text-align: center;
	line-height: 26px;
	font-size: 12px;
}
@media screen and (max-width: 768px ) {
	.comment-list .comment-body .comment-meta {
		padding: 2px 0 10px;
		position: relative;
		right: 0;
		top: 0;
		font-size: 11px;
	}
}









/* --------------PADDING STYLE-------------- */
.p0 {
	padding: 0 !important;
}

.p5 {
	padding: 5px !important;
}

.p10 {
	padding: 10px !important;
}

.p15 {
	padding: 15px !important;
}

.p20 {
	padding: 20px !important;
}

.p25 {
	padding: 25px !important;
}

.p30 {
	padding: 30px !important;
}

.p35 {
	padding: 35px !important;
}

.p40 {
	padding: 40px !important;
}

.p45 {
	padding: 45px !important;
}

.p50 {
	padding: 50px !important;
}

.p55 {
	padding: 55px !important;
}

.p60 {
	padding: 60px !important;
}

.p65 {
	padding: 65px !important;
}

.p70 {
	padding: 70px !important;
}

.p75 {
	padding: 75px !important;
}

.p80 {
	padding: 80px !important;
}

.p85 {
	padding: 85px !important;
}

.p90 {
	padding: 90px !important;
}

.p95 {
	padding: 95px !important;
}

.p100 {
	padding: 100px !important;
}

.pt0 {
	padding-top: 0 !important;
}

.pt5 {
	padding-top: 5px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pt15 {
	padding-top: 15px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pt25 {
	padding-top: 25px !important;
}

.pt30 {
	padding-top: 30px !important;
}

.pt35 {
	padding-top: 35px !important;
}

.pt40 {
	padding-top: 40px !important;
}

.pt45 {
	padding-top: 45px !important;
}

.pt50 {
	padding-top: 50px !important;
}

.pt55 {
	padding-top: 55px !important;
}

.pt60 {
	padding-top: 60px !important;
}

.pt65 {
	padding-top: 65px !important;
}

.pt70 {
	padding-top: 70px !important;
}

.pt75 {
	padding-top: 75px !important;
}

.pt80 {
	padding-top: 80px !important;
}

.pt85 {
	padding-top: 85px !important;
}

.pt90 {
	padding-top: 90px !important;
}

.pt95 {
	padding-top: 95px !important;
}

.pt100 {
	padding-top: 100px !important;
}

.pt120 {
	padding-top: 120px !important;
}

.pr0 {
	padding-right: 0 !important;
}

.pr5 {
	padding-right: 5px !important;
}

.pr10 {
	padding-right: 10px !important;
}

.pr15 {
	padding-right: 15px !important;
}

.pr20 {
	padding-right: 20px !important;
}

.pr25 {
	padding-right: 25px !important;
}

.pr30 {
	padding-right: 30px !important;
}

.pr35 {
	padding-right: 35px !important;
}

.pr40 {
	padding-right: 40px !important;
}

.pr45 {
	padding-right: 45px !important;
}

.pr50 {
	padding-right: 50px !important;
}

.pr55 {
	padding-right: 55px !important;
}

.pr60 {
	padding-right: 60px !important;
}

.pr65 {
	padding-right: 65px !important;
}

.pr70 {
	padding-right: 70px !important;
}

.pr75 {
	padding-right: 75px !important;
}

.pr80 {
	padding-right: 80px !important;
}

.pr85 {
	padding-right: 85px !important;
}

.pr90 {
	padding-right: 90px !important;
}

.pr95 {
	padding-right: 95px !important;
}

.pr100 {
	padding-right: 100px !important;
}

.pb0 {
	padding-bottom: 0 !important;
}

.pb5 {
	padding-bottom: 5px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pb15 {
	padding-bottom: 15px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pb25 {
	padding-bottom: 25px !important;
}

.pb30 {
	padding-bottom: 30px !important;
}

.pb35 {
	padding-bottom: 35px !important;
}

.pb40 {
	padding-bottom: 40px !important;
}

.pb45 {
	padding-bottom: 45px !important;
}

.pb50 {
	padding-bottom: 50px !important;
}

.pb55 {
	padding-bottom: 55px !important;
}

.pb60 {
	padding-bottom: 60px !important;
}

.pb65 {
	padding-bottom: 65px !important;
}

.pb70 {
	padding-bottom: 70px !important;
}

.pb75 {
	padding-bottom: 75px !important;
}

.pb80 {
	padding-bottom: 80px !important;
}

.pb85 {
	padding-bottom: 85px !important;
}

.pb90 {
	padding-bottom: 90px !important;
}

.pb95 {
	padding-bottom: 95px !important;
}

.pb100 {
	padding-bottom: 100px !important;
}

.pb120 {
	padding-bottom: 120px !important;
}

.pl0 {
	padding-left: 0;
}

.pl5 {
	padding-left: 5px;
}

.pl10 {
	padding-left: 10px;
}

.pl15 {
	padding-left: 15px;
}

.pl20 {
	padding-left: 20px;
}

.pl25 {
	padding-left: 25px;
}

.pl30 {
	padding-left: 30px;
}

.pl35 {
	padding-left: 35px;
}

.pl40 {
	padding-left: 40px;
}

.pl45 {
	padding-left: 45px;
}

.pl50 {
	padding-left: 50px;
}

.pl55 {
	padding-left: 55px;
}

.pl60 {
	padding-left: 60px;
}

.pl65 {
	padding-left: 65px;
}

.pl70 {
	padding-left: 70px;
}

.pl75 {
	padding-left: 75px;
}

.pl80 {
	padding-left: 80px;
}

.pl85 {
	padding-left: 85px;
}

.pl90 {
	padding-left: 90px;
}

.pl95 {
	padding-left: 95px;
}

.pl100 {
	padding-left: 100px;
}

/*  -----------------MARGIN STYLE----------------------- */
.m0 {
	margin: 0;
}

.m5 {
	margin: 5px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.m75 {
	margin: 75px;
}

.m80 {
	margin: 80px;
}

.m85 {
	margin: 85px;
}

.m90 {
	margin: 90px;
}

.m95 {
	margin: 95px;
}

.m100 {
	margin: 100px;
}

.mt0 {
	margin-top: 0 !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt25 {
	margin-top: 25px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mt35 {
	margin-top: 35px !important;
}

.mt40 {
	margin-top: 40px !important;
}

.mt45 {
	margin-top: 45px !important;
}

.mt50 {
	margin-top: 50px !important;
}

.mt55 {
	margin-top: 55px !important;
}

.mt60 {
	margin-top: 60px !important;
}

.mt65 {
	margin-top: 65px !important;
}

.mt70 {
	margin-top: 70px !important;
}

.mt75 {
	margin-top: 75px !important;
}

.mt80 {
	margin-top: 80px !important;
}

.mt85 {
	margin-top: 85px !important;
}

.mt90 {
	margin-top: 90px !important;
}

.mt95 {
	margin-top: 95px !important;
}

.mt100 {
	margin-top: 100px !important;
}

.mt110 {
	margin-top: 110px !important;
}

.mt120 {
	margin-top: 120px !important;
}

.mt-75 {
	margin-top: -75px !important;
}

.mr0 {
	margin-right: 0 !important;
}

.mr5 {
	margin-right: 5px !important;
}

.mr10 {
	margin-right: 10px !important;
}

.mr15 {
	margin-right: 15px !important;
}

.mr20 {
	margin-right: 20px !important;
}

.mr25 {
	margin-right: 25px !important;
}

.mr30 {
	margin-right: 30px !important;
}

.mr35 {
	margin-right: 35px !important;
}

.mr40 {
	margin-right: 40px !important;
}

.mr45 {
	margin-right: 45px !important;
}

.mr50 {
	margin-right: 50px !important;
}

.mr55 {
	margin-right: 55px !important;
}

.mr60 {
	margin-right: 60px !important;
}

.mr65 {
	margin-right: 65px !important;
}

.mr70 {
	margin-right: 70px !important;
}

.mr75 {
	margin-right: 75px !important;
}

.mr80 {
	margin-right: 80px !important;
}

.mr85 {
	margin-right: 85px !important;
}

.mr90 {
	margin-right: 90px !important;
}

.mr95 {
	margin-right: 95px !important;
}

.mr100 {
	margin-right: 100px !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mb25 {
	margin-bottom: 25px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.mb35 {
	margin-bottom: 35px !important;
}

.mb40 {
	margin-bottom: 40px !important;
}

.mb45 {
	margin-bottom: 45px !important;
}

.mb50 {
	margin-bottom: 50px !important;
}

.mb55 {
	margin-bottom: 55px !important;
}

.mb60 {
	margin-bottom: 60px !important;
}

.mb65 {
	margin-bottom: 65px !important;
}

.mb70 {
	margin-bottom: 70px !important;
}

.mb75 {
	margin-bottom: 75px !important;
}

.mb80 {
	margin-bottom: 80px !important;
}

.mb85 {
	margin-bottom: 85px !important;
}

.mb90 {
	margin-bottom: 90px !important;
}

.mb95 {
	margin-bottom: 95px !important;
}

.mb100 {
	margin-bottom: 100px !important;
}

.ml0 {
	margin-left: 0 !important;
}

.ml5 {
	margin-left: 5px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.ml15 {
	margin-left: 15px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.ml25 {
	margin-left: 25px !important;
}

.ml30 {
	margin-left: 30px !important;
}

.ml35 {
	margin-left: 35px !important;
}

.ml40 {
	margin-left: 40px !important;
}

.ml45 {
	margin-left: 45px !important;
}

.ml50 {
	margin-left: 50px !important;
}

.ml55 {
	margin-left: 55px !important;
}

.ml60 {
	margin-left: 60px !important;
}

.ml65 {
	margin-left: 65px !important;
}

.ml70 {
	margin-left: 70px !important;
}

.ml75 {
	margin-left: 75px !important;
}

.ml80 {
	margin-left: 80px !important;
}

.ml85 {
	margin-left: 85px !important;
}

.ml90 {
	margin-left: 90px !important;
}

.ml95 {
	margin-left: 95px !important;
}

.ml100 {
	margin-left: 100px !important;
}

/*  --------------MARGIN STYLE MINUS----------------------------- */
.mt-5 {
	margin-top: -5px;
}

.mt-10 {
	margin-top: -10px;
}

.mt-15 {
	margin-top: -15px;
}

.mt-20 {
	margin-top: -20px;
}

.mt-25 {
	margin-top: -25px;
}

.mt-30 {
	margin-top: -30px;
}

.mt-35 {
	margin-top: -35px;
}

.mt-40 {
	margin-top: -40px;
}

.mt-45 {
	margin-top: -45px;
}

.mt-50 {
	margin-top: -50px;
}

.mt-55 {
	margin-top: -55px;
}

.mt-60 {
	margin-top: -60px;
}

.mt-65 {
	margin-top: -65px;
}

.mt-70 {
	margin-top: -70px;
}

.mt-75 {
	margin-top: -75px;
}

.mt-80 {
	margin-top: -80px;
}

.mt-85 {
	margin-top: -85px;
}

.mt-90 {
	margin-top: -90px;
}

.mt-95 {
	margin-top: -95px;
}

.mt-100 {
	margin-top: -100px;
}

.mt-110 {
	margin-top: -110px;
}

.mt-120 {
	margin-top: -120px;
}

.mt-130 {
	margin-top: -130px;
}

.mt-140 {
	margin-top: -140px;
}

.mt-150 {
	margin-top: -150px;
}

.ml-5 {
	margin-left: -5px;
}

.ml-10 {
	margin-left: -10px;
}

.ml-15 {
	margin-left: -15px;
}

.ml-20 {
	margin-left: -20px;
}

.ml-25 {
	margin-left: -25px;
}

.ml-30 {
	margin-left: -30px;
}

.ml-35 {
	margin-left: -35px;
}

.ml-40 {
	margin-left: -40px;
}

.ml-45 {
	margin-left: -45px;
}

.ml-50 {
	margin-left: -50px;
}

.ml-55 {
	margin-left: -55px;
}

.ml-60 {
	margin-left: -60px;
}

.ml-65 {
	margin-left: -65px;
}

.ml-70 {
	margin-left: -70px;
}

.ml-75 {
	margin-left: -75px;
}

.ml-80 {
	margin-left: -80px;
}

.ml-85 {
	margin-left: -85px;
}

.ml-90 {
	margin-left: -90px;
}

.ml-95 {
	margin-left: -95px;
}

.ml-100 {
	margin-left: -100px;
}

.ml-110 {
	margin-left: -110px;
}

.ml-120 {
	margin-left: -120px;
}

.ml-130 {
	margin-left: -130px;
}

.ml-140 {
	margin-left: -140px;
}

.ml-150 {
	margin-left: -150px;
}

.mb-5 {
	margin-bottom: -5px;
}

.mb-10 {
	margin-bottom: -10px;
}

.mb-15 {
	margin-bottom: -15px;
}

.mb-20 {
	margin-bottom: -20px;
}

.mb-25 {
	margin-bottom: -25px;
}

.mb-30 {
	margin-bottom: -30px;
}

.mb-35 {
	margin-bottom: -35px;
}

.mb-40 {
	margin-bottom: -40px;
}

.mb-45 {
	margin-bottom: -45px;
}

.mb-50 {
	margin-bottom: -50px;
}

.mb-55 {
	margin-bottom: -55px;
}

.mb-60 {
	margin-bottom: -60px;
}

.mb-65 {
	margin-bottom: -65px;
}

.mb-70 {
	margin-bottom: -70px;
}

.mb-75 {
	margin-bottom: -75px;
}

.mb-80 {
	margin-bottom: -80px;
}

.mb-85 {
	margin-bottom: -85px;
}

.mb-90 {
	margin-bottom: -90px;
}

.mb-95 {
	margin-bottom: -95px;
}

.mb-100 {
	margin-bottom: -100px;
}

.mb-110 {
	margin-bottom: -110px;
}

.mb-120 {
	margin-bottom: -120px;
}

.mb-130 {
	margin-bottom: -130px;
}

.mb-140 {
	margin-bottom: -140px;
}

.mb-150 {
	margin-bottom: -150px;
}
.elementor-element-edit-mode  .filtr-container{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.dialog-type-lightbox{
	height: 0 !important;
	width: 0 !important;
	display: none !important;
}


.breadcrumbs {
	position: relative;
	bottom: 0;
	margin: 0;
	width: 100%;
	background-color: #ffffff;
	border-bottom: solid 1px #f6f6f6;
}
.breadcrumbs ul{
	padding: 0;
	margin: 0 auto;
	text-align: center;
	float: none;
	bottom: 0;
	min-height: 45px;
	position: relative;
	width: auto;
	display: inline-block;
	list-style: none;
	background-color: #ffffff;
	color: #191a1c;
}

.breadcrumbs ul li {
	display: inline-block;
	padding:0;
}
.breadcrumbs ul li a {
	padding: 8px 15px;
	display: inline-block;
	color: #888888;
	font-size: 0.80714286em;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	text-transform: capitalize;
}
.breadcrumbs ul li span {
	color: #4f6df5;
	padding: 10px 15px;
	font-weight: 500;
	display: inline-block;
	font-size: 0.80714286em;
	font-family: "Roboto", sans-serif;
	text-transform: capitalize;
}



.inner_cover {
	min-height: 400px;
	position: relative;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
	background: transparent;
}
.inner_cover .overlay_dark {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	background-color: rgba(31, 31, 32, 0.8);
}
.inner_cover.single_page, .inner_cover.single_page .row {
	min-height: 700px;
}
.inner_cover .inner_cover_content {
	padding: 170px 0;
	text-align: center;
}
.inner_cover .inner_cover_content h3 {
	text-transform: capitalize;
	color: #ffffff;
	font-size: 2.55714286em;
	line-height: 1.36363636em;
	font-weight: 300;
}
.inner_cover .inner_cover_content p {
	color: #f7f7f7;
	font-size: 16px;
	text-transform: capitalize;
}
.inner_cover {
	min-height: 400px;
	position: relative;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}
.inner_cover .inner_cover_content h6.category {
	text-transform: uppercase;
	color: #ffffff;
	background-color: #333333;
	display: inline-block;
	margin-bottom: 25px;
	padding: 15px 30px;
	border-radius: 50px;
	font-size: 12px;
	font-weight: 500;
}
.inner_cover .inner_cover_content .admin_name {
	color: #f7f7f7;
	text-transform: capitalize;
	font-size: 13px;
}
.inner_cover .inner_cover_content .admin_name a{
	color: #f9f9f9;
}

.footer-ad{
	text-align: center;
  
}