.elementor-1906 .elementor-element.elementor-element-1da86b96 .elementor_title{color:#ffffff;}
.elementor-1906 .elementor-element.elementor-element-1da86b96 .atum_text{color:#f7f7f7;}.elementor-1906 .elementor-element.elementor-element-1da86b96 a.atum-button{color:#ffffff;background-color:#4f6df5;}.elementor-1906 .elementor-element.elementor-element-1da86b96 a.atum-button:hover{color:#ffffff;background-color:#333333;}.elementor-1906 .elementor-element.elementor-element-5047cbe8{background-color:#f7f7f7;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50px 0px 50px 0px;}.elementor-1906 .elementor-element.elementor-element-5047cbe8 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1906 .elementor-element.elementor-element-2d025a91{background-color:#ffffff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:120px 0px 120px 0px;}.elementor-1906 .elementor-element.elementor-element-2d025a91 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1906 .elementor-element.elementor-element-b79f4bb .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-b79f4bb .title_color:after{border-color:#333333;}.elementor-1906 .elementor-element.elementor-element-b79f4bb .text_color{color:#666666;}.elementor-1906 .elementor-element.elementor-element-21962040{margin-top:30px;margin-bottom:0px;}.elementor-1906 .elementor-element.elementor-element-2c3fba6e .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-2c3fba6e .icon_color{color:#54595f;}.elementor-1906 .elementor-element.elementor-element-2c3fba6e .icon_b:hover  .icon_color,.elementor-1906 .elementor-element.elementor-element-2c3fba6e  .icon_b:hover  .border_color{color:#6773f1;}.elementor-1906 .elementor-element.elementor-element-2c3fba6e .text_color{color:#6d7485;}.elementor-1906 .elementor-element.elementor-element-474782ce .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-474782ce .icon_color{color:#54595f;}.elementor-1906 .elementor-element.elementor-element-474782ce .icon_b:hover  .icon_color,.elementor-1906 .elementor-element.elementor-element-474782ce  .icon_b:hover  .border_color{color:#6773f1;}.elementor-1906 .elementor-element.elementor-element-474782ce .text_color{color:#6d7485;}.elementor-1906 .elementor-element.elementor-element-2b8b7bf7 .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-2b8b7bf7 .icon_color{color:#54595f;}.elementor-1906 .elementor-element.elementor-element-2b8b7bf7 .icon_b:hover  .icon_color,.elementor-1906 .elementor-element.elementor-element-2b8b7bf7  .icon_b:hover  .border_color{color:#6773f1;}.elementor-1906 .elementor-element.elementor-element-2b8b7bf7 .text_color{color:#6d7485;}

.elementor-1906 .elementor-element.elementor-element-1fd8b8d8
{
	background-image:url("../../2018/04/linis.png");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding:120px 0px 120px 0px;
}
	.elementor-1906 .elementor-element.elementor-element-1fd8b8d8 > .elementor-background-overlay

	{
		background-color:#020202;opacity:0.7;
		transition:background 0.3s, border-radius 0.3s, opacity 0.3s;

	}








.elementor-1906 .elementor-element.elementor-element-1fd8b8d88
{
	background-image:url("../../2018/04/b1.jpg");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding:120px 0px 120px 0px;
}
	.elementor-1906 .elementor-element.elementor-element-1fd8b8d88 > .elementor-background-overlay

	{
		background-color:#020202;opacity:0.7;
		transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
		
	}


.elementor-1906 .elementor-element.elementor-element-1fd8b8d888
{
	background-image:url("../../2018/04/b33.jpg");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding:120px 0px 120px 0px;
}
	.elementor-1906 .elementor-element.elementor-element-1fd8b8d888 > .elementor-background-overlay

	{
		background-color:#020202;opacity:0.7;
		transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
		
	}

	.elementor-1906 .elementor-element.elementor-element-1fd8b8d8888
{
	background-image:url("../../2018/04/b2.jpg");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding:120px 0px 120px 0px;
}
	.elementor-1906 .elementor-element.elementor-element-1fd8b8d8888 > .elementor-background-overlay

	{
		background-color:#020202;opacity:0.7;
		transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
		
	}

















		.elementor-1906 .elementor-element.elementor-element-4fd36350 .counter_icon_color{color:#48ca73;}.elementor-1906 .elementor-element.elementor-element-4fd36350 .counter_title_color{color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-4fd36350 .counter_number_color{color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-40a0a960 .counter_icon_color{color:#48ca73;}.elementor-1906 .elementor-element.elementor-element-40a0a960 .counter_title_color{color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-40a0a960 .counter_number_color{color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-779b1391 .counter_icon_color{color:#48ca73;}.elementor-1906 .elementor-element.elementor-element-779b1391 .counter_title_color{color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-779b1391 .counter_number_color{color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-2978e322 .counter_icon_color{color:#48ca73;}.elementor-1906 .elementor-element.elementor-element-2978e322 .counter_title_color{color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-2978e322 .counter_number_color{color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-52c40148{background-color:#ffffff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:120px 0px 120px 0px;}.elementor-1906 .elementor-element.elementor-element-52c40148 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1906 .elementor-element.elementor-element-376110a2{margin-top:0px;margin-bottom:50px;}.elementor-1906 .elementor-element.elementor-element-af74216 .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-af74216 .title_color:after{border-color:#333333;}.elementor-1906 .elementor-element.elementor-element-af74216 .text_color{color:#666666;}.elementor-1906 .elementor-element.elementor-element-5601cd7{margin-top:0px;margin-bottom:0px;}.elementor-1906 .elementor-element.elementor-element-79518d93 .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-79518d93 .icon_color{color:#4286f4;}.elementor-1906 .elementor-element.elementor-element-79518d93 .icon_b:hover  .icon_color,.elementor-1906 .elementor-element.elementor-element-79518d93  .icon_b:hover  .border_color{color:#6773f1;}.elementor-1906 .elementor-element.elementor-element-79518d93 .text_color{color:#6d7485;}.elementor-1906 .elementor-element.elementor-element-42db055e .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-42db055e .icon_color{color:#4286f4;}.elementor-1906 .elementor-element.elementor-element-42db055e .icon_b:hover  .icon_color,.elementor-1906 .elementor-element.elementor-element-42db055e  .icon_b:hover  .border_color{color:#6773f1;}.elementor-1906 .elementor-element.elementor-element-42db055e .text_color{color:#6d7485;}.elementor-1906 .elementor-element.elementor-element-78d196d1 .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-78d196d1 .icon_color{color:#4286f4;}.elementor-1906 .elementor-element.elementor-element-78d196d1 .icon_b:hover  .icon_color,.elementor-1906 .elementor-element.elementor-element-78d196d1  .icon_b:hover  .border_color{color:#6773f1;}.elementor-1906 .elementor-element.elementor-element-78d196d1 .text_color{color:#6d7485;}.elementor-1906 .elementor-element.elementor-element-53ac384d{margin-top:-25px;margin-bottom:030px;}.elementor-1906 .elementor-element.elementor-element-678765cb .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-678765cb .icon_color{color:#4286f4;}.elementor-1906 .elementor-element.elementor-element-678765cb .icon_b:hover  .icon_color,.elementor-1906 .elementor-element.elementor-element-678765cb  .icon_b:hover  .border_color{color:#6773f1;}.elementor-1906 .elementor-element.elementor-element-678765cb .text_color{color:#6d7485;}.elementor-1906 .elementor-element.elementor-element-be12968 .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-be12968 .icon_color{color:#4286f4;}.elementor-1906 .elementor-element.elementor-element-be12968 .icon_b:hover  .icon_color,.elementor-1906 .elementor-element.elementor-element-be12968  .icon_b:hover  .border_color{color:#6773f1;}.elementor-1906 .elementor-element.elementor-element-be12968 .text_color{color:#6d7485;}.elementor-1906 .elementor-element.elementor-element-7dbccf4f .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-7dbccf4f .icon_color{color:#4286f4;}.elementor-1906 .elementor-element.elementor-element-7dbccf4f .icon_b:hover  .icon_color,.elementor-1906 .elementor-element.elementor-element-7dbccf4f  .icon_b:hover  .border_color{color:#6773f1;}.elementor-1906 .elementor-element.elementor-element-7dbccf4f .text_color{color:#6d7485;}.elementor-1906 .elementor-element.elementor-element-3601f4c4{margin-top:50px;margin-bottom:0px;}.elementor-1906 .elementor-element.elementor-element-2abf29e0 .services_title_color{color:#191a1c;}.elementor-1906 .elementor-element.elementor-element-2abf29e0 .services_text_color{color:#6d7485;}
	


	.elementor-1906 .elementor-element.elementor-element-637ea4cc{
		background-image:url("../../2018/04/b4.jpg");
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
		padding:120px 0px 120px 0px;
	}



		.elementor-1906 .elementor-element.elementor-element-637ea4cc > .elementor-background-overlay
		{
			background-color:#333333;opacity:0.5;
			transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
		}












.elementor-1906 .elementor-element.elementor-element-637ea4ccc{
		background-image:url("../../2018/04/bree.gif");
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
		padding:120px 0px 120px 0px;
	}



		












			.elementor-1906 .elementor-element.elementor-element-610d8b55 .title_color{color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-610d8b55 .title_color:after{border-color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-610d8b55 .text_color{color:#f7f7f7;}.elementor-1906 .elementor-element.elementor-element-7c3ce46a a.elementor-button, .elementor-1906 .elementor-element.elementor-element-7c3ce46a .elementor-button{font-size:14px;line-height:1.7em;color:#ffffff;background-color:#4286f4;border-radius:4px 4px 4px 4px;padding:12px 30px 12px 30px;}.elementor-1906 .elementor-element.elementor-element-7c3ce46a a.elementor-button:hover, .elementor-1906 .elementor-element.elementor-element-7c3ce46a .elementor-button:hover{color:#333333;background-color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-7c3ce46a > .elementor-widget-container{margin:25px 0px 0px 0px;}.elementor-1906 .elementor-element.elementor-element-5c096e09{padding:120px 0px 120px 0px;}.elementor-1906 .elementor-element.elementor-element-2308eb32{margin-top:0px;margin-bottom:30px;}.elementor-1906 .elementor-element.elementor-element-7b462177 .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-7b462177 .title_color:after{border-color:#333333;}.elementor-1906 .elementor-element.elementor-element-7b462177 .text_color{color:#666666;}.elementor-1906 .elementor-element.elementor-element-25d6f785 a.atum-button, .elementor-1906 .elementor-element.elementor-element-25d6f785 .atum-button{color:#333333;background-color:transparent;}.elementor-1906 .elementor-element.elementor-element-25d6f785 .atum-button.active, .elementor-1906 .elementor-element.elementor-element-25d6f785 .atum-button:hover{color:#4286F4;background-color:transparent;}.elementor-1906 .elementor-element.elementor-element-91e7541{background-color:#f7f7f7;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:120px 0px 120px 0px;}.elementor-1906 .elementor-element.elementor-element-91e7541 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1906 .elementor-element.elementor-element-7542a8d1{margin-top:0px;margin-bottom:50px;}.elementor-1906 .elementor-element.elementor-element-4b569173 .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-4b569173 .title_color:after{border-color:#333333;}.elementor-1906 .elementor-element.elementor-element-4b569173 .text_color{color:#666666;}.elementor-1906 .elementor-element.elementor-element-1b28c1db{background-color:#ffffff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:120px 0px 120px 0px;}.elementor-1906 .elementor-element.elementor-element-1b28c1db > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1906 .elementor-element.elementor-element-2e1a7bca{margin-top:0px;margin-bottom:50px;}.elementor-1906 .elementor-element.elementor-element-6d65783f .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-6d65783f .title_color:after{border-color:#333333;}.elementor-1906 .elementor-element.elementor-element-6d65783f .text_color{color:#666666;}
	
	.elementor-1906 .elementor-element.elementor-element-12e1a227{
		background-image:url("../../2018/04/nyaw.jpg");
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
		padding:120px 0px 120px 0px;
	}


	.elementor-element-12e1a2277{
		background-image:url("../../2018/04/bzt.jpg");
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
		padding:120px 0px 120px 0px;
	}

	.elementor-1906 .elementor-element.elementor-element-12e1a2277 > 
		.elementor-background-overlay{
			background-color:#020202;opacity:0.7;
			transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
		}




		.elementor-1906 .elementor-element.elementor-element-12e1a227 > 
		.elementor-background-overlay{
			background-color:#020202;opacity:0.7;
			transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
		}


			.elementor-1906 .elementor-element.elementor-element-478b10b4 .icon_color{color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-478b10b4 .text_color{color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-478b10b4 .name_color{color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-478b10b4 .job_color{color:#ffffff;}.elementor-1906 .elementor-element.elementor-element-48af9c9f{background-color:#ffffff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:120px 0px 120px 0px;}.elementor-1906 .elementor-element.elementor-element-48af9c9f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1906 .elementor-element.elementor-element-7f20b18e{margin-top:0px;margin-bottom:50px;}.elementor-1906 .elementor-element.elementor-element-49066eb5 .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-49066eb5 .title_color:after{border-color:#333333;}.elementor-1906 .elementor-element.elementor-element-49066eb5 .text_color{color:#666666;}.elementor-1906 .elementor-element.elementor-element-8e72cb4{margin-top:30px;margin-bottom:0px;}.elementor-1906 .elementor-element.elementor-element-18e26519 a.elementor-button, .elementor-1906 .elementor-element.elementor-element-18e26519 .elementor-button{font-size:14px;text-transform:capitalize;line-height:1.7em;color:#ffffff;background-color:#4286f4;border-radius:4px 4px 4px 4px;padding:12px 30px 12px 30px;}.elementor-1906 .elementor-element.elementor-element-18e26519 a.elementor-button:hover, .elementor-1906 .elementor-element.elementor-element-18e26519 .elementor-button:hover{color:#ffffff;background-color:#333333;}.elementor-1906 .elementor-element.elementor-element-18e26519 > .elementor-widget-container{margin:25px 0px 0px 0px;}.elementor-1906 .elementor-element.elementor-element-2200da5b iframe{min-height:450px;pointer-events:none;}.elementor-1906 .elementor-element.elementor-element-264040ed{background-color:#ffffff;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:120px 0px 120px 0px;}.elementor-1906 .elementor-element.elementor-element-264040ed > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1906 .elementor-element.elementor-element-151f8a23{margin-top:0px;margin-bottom:50px;}.elementor-1906 .elementor-element.elementor-element-4a9354b9 .title_color{color:#333333;}.elementor-1906 .elementor-element.elementor-element-4a9354b9 .title_color:after{border-color:#333333;}.elementor-1906 .elementor-element.elementor-element-4a9354b9 .text_color{color:#666666;}.elementor-1906 .elementor-element.elementor-element-4246eca8{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1906 .elementor-element.elementor-element-4246eca8 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}@media(max-width:1024px) and (min-width:768px){.elementor-1906 .elementor-element.elementor-element-6255bc76{width:50%;}.elementor-1906 .elementor-element.elementor-element-5579544f{width:50%;}.elementor-1906 .elementor-element.elementor-element-75adb815{width:50%;}.elementor-1906 .elementor-element.elementor-element-1317fb36{width:50%;}.elementor-1906 .elementor-element.elementor-element-1fa57946{width:100%;}.elementor-1906 .elementor-element.elementor-element-59206268{width:100%;}.elementor-1906 .elementor-element.elementor-element-62a49490{width:100%;}.elementor-1906 .elementor-element.elementor-element-29ec175e{width:100%;}.elementor-1906 .elementor-element.elementor-element-1312e1c3{width:100%;}.elementor-1906 .elementor-element.elementor-element-2d7749a9{width:100%;}.elementor-1906 .elementor-element.elementor-element-4a8c3569{width:100%;}.elementor-1906 .elementor-element.elementor-element-4c7c2a9{width:100%;}.elementor-1906 .elementor-element.elementor-element-183fb63b{width:100%;}.elementor-1906 .elementor-element.elementor-element-4e21a66f{width:100%;}}@media(min-width:1025px){.elementor-1906 .elementor-element.elementor-element-1fd8b8d8{background-attachment:scroll;}.elementor-1906 .elementor-element.elementor-element-637ea4cc{background-attachment:scroll;}.elementor-1906 .elementor-element.elementor-element-12e1a227{background-attachment:scroll;}}